/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.heroGraph{
  width: 100%;
   align-items: center;
  display: flex;
  background-image: url('/img/banner_graph.png');
  background-repeat: no-repeat;
  background-size: auto 540px;
  background-position: 80% 0%;
  height: 480px;
  margin: -4em 0;
}

.heroTitle{
  text-align: left !important; 
}
.heroSubTitle{
  text-align: left !important; 
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 4rem;
  }
  .heroGraph{
  background-size:0%;
}
}

.buttons {
  display: flex;
  margin-top: 2rem;
  align-items: center;
  justify-content: left;
}
